<!DOCTYPE html>
<html xmlns:th="Threat Generator" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    
   	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"></link>
    <link rel="stylesheet" type="text/css" href="../../../css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../css/projectView.css" th:href="@{/css/projectView.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../css/fileView.css" th:href="@{/css/fileView.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../css/threatLibrary.css" th:href="@{/css/threatLibrary.css}"/>
    <link rel="stylesheet" type="text/css"  href="../../css/questionnaire.css" th:href="@{/css/questionnaire.css}" />
    
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" src="../../static/js/fileView.js" th:src="@{/js/questionnaire.js}"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </head>
  
<body>

  	<div th:replace="fragments/header :: header('questionnaire')"></div>
  	  	
  	<div class="container-fluid">
  		
  		<div class='row'>
  			<div class="col-md-12">
  				<div>
		  			<font>Security Survey</font>
		  			Questionnaire Name:
				    <input type="text" name="questionnaireName" form="questionnaireForm" th:value="${questionnaireForm.name}" th:field="${questionnaireForm.name}"/>
		  			<a><button class="btn btnColor" type="submit" onclick="getList()" form="questionnaireForm">Save</button></a>
	  			</div>	
	  		</div>
	  	</div>
	  	
  		<div class="space"></div>
  		
	  	<div class="row noPadding addBorderTop">
	  		<div class="col-lg-2 noPadding">
	  			<div>
					<div th:replace="fragments/questionnaireFragments/questionnaireFragments :: questionTags"></div> 		
	  			</div>	
			</div>
			
			<div class="col-lg-10 addMargin noPadding">
			
				<form id="questionnaireForm" method="post" th:action="@{'/save'}" th:object="${questionnaireForm}">
					<div hidden="true"><input type="text" th:field="*{id}" th:value="*{id}"/></div>
							
						<ul class="list-group noMargin altRow">
							<li class="list-group-item noBorder" th:classappend="${question.tags}" th:each="question, iter: ${questions}">
								<div class="row scrollBarComp2">
									<div class="col-md-6 text-left">
										<div th:text="${question.text}">Question</div>
									</div>
									<div class="col-md-6 text-center">
										<div class="btn-group" data-toggle="buttons">
				  							<label class="btn btn-primary" th:classappend="${questionnaireForm.answers[__iter.index__] == choice} ? active" th:each="choice: ${T(com.threatintell.threatquestionnaire.questionnaire.QuestionnaireResult.Answer).values()}">
				   								<input type="radio" th:value="${choice}" th:checked="${questionnaireForm.answers[__iter.index__] == choice}" th:field="*{answers[__${iter.index}__]}"/> <span th:text="${choice.printName()}"></span>
				  							</label>
										</div>
									</div>
								</div>
							</li>
						</ul>
				</form>
				
			</div>
	  	</div>
	</div>
</body>
</html>